1. Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [12]:
import pandas as pd
import numpy as np
%matplotlib inline

In [13]:
brady_dict= {'Name': ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica'], 'Age': [14, 12, 11, 10, 8, 6, 1]}
brady= pd.DataFrame(brady_dict)
brady

      Name  Age
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    6
6  Jessica    1

In [14]:
np.mean(brady['Age'])

8.857142857142858

In [15]:
'The median age of the Brady bunch kids is {}'.format(brady['Age'].median())

'The median age of the Brady bunch kids is 10.0'

In [16]:
brady.describe()

             Age
count   7.000000
mean    8.857143
std     4.336995
min     1.000000
25%     7.000000
50%    10.000000
75%    11.500000
max    14.000000

In [17]:
brady['Age'].var()

18.80952380952381

2. Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

Answer: I would pick the mean for central tendency and standard deviation, since there are no large outliers and the standard deviation describes how far their age is from the mean on average.

3. Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

Answer: The mean is now equal to the median, and the variance and STD dropped since an outlier has come closer to the mean.

4. Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

Answer: I would now use the median to describe central tendency as the outlier has skewed the mean, and variance to describe how widely distributed the values are.

5. On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans

Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

Answer: The mean of the samples is 16.25, but the sample sizes are most likely far different from each other, as a larger magazine like EW would have a larger sample group. If the largest sample more accurately reflects the population mean, my answer would be 19.

In [18]:
(20+23+17+5)/4

16.25